.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  background: white;
  border-radius: 8px;
  width: 70vw;
  overflow: hidden;
}

.modal-close-container {
  position: absolute;
  right: 0px;
  background-color: var(--main-color);
  width: 56px;
  border-bottom-left-radius: 10px;
  border-bottom: 2px solid var(--secondary-color);
  border-left: 2px solid var(--secondary-color);
}

.modal-close {
  font-size: 40px;
  cursor: pointer;
  color: var(--secondary-color);
  font-weight: 700;
}

.modal-image {
  width: 70vw;
  object-fit: cover;
}

@media (max-width: 768px) {
  .modal-content {
    max-width: 90%;
    max-height: 90%;
  }

  .modal-close-container {
    width: 40px;
    height: 40px;
  }

  .modal-close {
    font-size: 25px;
  }
}
