nav{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 1000;
    mix-blend-mode: difference;
}

nav::after {
    display: block;
    content: '';
    position: absolute;
    top: 2.5%;
    right: 1%; 
    height: 95%; 
    width: 1px; 
    background-color: rgb(255, 249, 249);
    mix-blend-mode: difference;

}

.logo{
    position: absolute;
    height: 40px;
    top: 30px;
    left: 30px;
}

.burger-menu{
    cursor: pointer;
    overflow: hidden;

}

.burger-menu span{
    display: block;
    width: 40px;
    height: 2px;
    margin: 10px;
    transition: 0.4s;
    border-radius: 200px;
    background-color: var(--main-color);
}

.burger-menu.open span:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }
  
.burger-menu.open span:nth-child(2) {
    transform: rotate(-45deg) translateY(-4px) translateX(4px)
}

.over-home-container span{
    background-color: var(--secondary-color);
}
.logo{
    display: none;
}


@media (max-width: 768px) {
    nav{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 10vh;
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: end;
        padding: 20px;
        z-index: 402;
    }


    nav.nav-close-mobile-not-home{
        mix-blend-mode: normal;
        background-color: var(--main-color);
    }

    nav.nav-close-mobile-not-home::after{
        height: 1px;
        width: 90%;
        background-color: var(--secondary-color);
        top: 100%;
        right: 5%;
    }

    .navbar-open{
        transition: background-color 1.5; 
    }

    nav::after {
       height: 0;
       width: 0;
    }

    .nav-close-mobile-not-home .burger-menu span{
        background-color: var(--secondary-color);
    }

    .navbar-open{
        background-color: var(--secondary-color);
    }

    .nav-close-mobile-not-home .navbar-open .burger-menu span{
        background-color: var(--main-color);
    }
    
    .nav-close-mobile-not-home .navbar-open::after {
        background-color: var(--main-color);
    }


    .navbar-open {
        background-color: transparent;
    }

    .logo{
        position: absolute;
        height: 40px;
        top: 15px;
        left: 20px;
        z-index: 403;
    }

}




